/*Home Start */
body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


.category {
  display: flex;
  align-items: center;
  
}

.icon {
  width: 20px;
  height: 40px;
  background-color: #db4444;
  margin-right: 10px;
}

p.categ {
  
  color: #db4444;
  font-size: 24px;
  padding-top: 20px;

}


/*Nadia start*/


h2{
    font-size: 36px;
    text-align: left;
    font-weight: bold;
    margin-left: 30px;
  }

.wrapper { 
    max-width: 1500px; 
    width: 100%; 
    position: relative; 
  } 
  
  
  
  .wrapper i:first-child { 
    left: -22px; 
  
  } 
  
  .wrapper i:last-child { 
    right: -22px; 
  
  } 
  
  .wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
  } 
  
  .carousel::-webkit-scrollbar { 
    display: none; 
  } 
  
  .carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  } 
  
  .carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
  } 
  
  .carousel.no-transition { 
    scroll-behavior: auto; 
  } 
  
  .carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
  } 
  
  .carousel .card { 
    scroll-snap-align: start; 
    height: 150px; 
    list-style: none; 
    background: #fff; 
    display: flex; 
    cursor: pointer; 
    width: 125px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    border-color: black;
  } 
  
  .card .img { 
    width: 75px; 
    height: 75px; 
  
  } 
  
  .card .img img { 
    width: 70px; 
    height: 70px; 
    object-fit: cover; 
    border: 4px solid #fff; 
  } 
  
  .card h2 { 
    font-weight: 500; 
    font-size: 16px; 
    margin: 30px 0 5px; 
  } 
  
  .card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
  } 
  
  @media screen and (max-width: 900px) { 
    .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
  } 
  
  @media screen and (max-width: 600px) { 
    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    } 
  }
  
/*Nadia end*/

.body {
text-align: center;
margin: auto;
max-width: 2000px;
min-height: 500px;
padding: 40px;
padding-top: 100px; 

background-repeat: no-repeat, no-repeat;
background-position: calc(100% - 900px) center, calc(100% - 100px) center;
background-size: 800px, 800px; 
}

/*Carousel*/
.carousel_image {
  margin-left: 10%;
  margin-right: 10%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #db4444;
  opacity: 0.8;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/*Home End */