:host { 
  display: contents; 
}
.login-chooser-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-chooser-navlink {
  display: contents;
}
.login-chooser-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.login-chooser-image {
  top: 157px;
  left: 68px;
  width: 960px;
  height: 649px;
  position: absolute;
  object-fit: cover;
}
.login-chooser-users {
  left: 297px;
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  bottom: 109px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: #ead7bb;
  text-decoration: none;
  background-color: #ead7bb;
}
.login-chooser-text {
  color: #927769;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.login-chooser-admins {
  left: 297px;
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  bottom: 109px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: #ead7bb;
  text-decoration: none;
  background-color: #ead7bb;
}
.login-chooser-text3 {
  color: #927769;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.login-chooser-text6 {
  top: 63px;
  left: 233px;
  color: #927769;
  position: absolute;
  font-size: 5em;
  font-family: "Poppins";
  letter-spacing: 5px;
}
@media(max-width: 1600px) {
  .login-chooser-container {
    background-color: #fff2d8;
  }
  .login-chooser-icon {
    top: 37px;
    left: 66px;
    width: var(--dl-size-size-small);
    height: 59px;
    position: absolute;
  }
  .login-chooser-image {
    top: 10px;
    left: 394px;
    width: 768px;
    height: 515px;
    position: absolute;
  }
  .login-chooser-users {
    top: 627px;
    left: 615px;
    padding-top: 16px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .login-chooser-text {
    color: rgb(146, 119, 105);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .login-chooser-admins {
    top: 625px;
    left: 799px;
    padding-top: 16px;
    padding-left: 46px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .login-chooser-text3 {
    color: rgb(146, 119, 105);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .login-chooser-text6 {
    top: 536px;
    left: 641px;
    color: rgb(146, 119, 105);
    font-size: 3em;
    font-family: Poppins;
    letter-spacing: 5px;
  }
}
