:host { 
  display: contents; 
}
.user-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff2d8;
}
.user-login-navlink {
  display: contents;
}
.user-login-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.user-login-image {
  top: 42px;
  right: -20px;
  width: 1002px;
  height: 896px;
  position: absolute;
  object-fit: cover;
}
.user-login-form {
  top: 217px;
  right: 133px;
  width: 768px;
  height: 692px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.user-login-text {
  top: 63px;
  left: 233px;
  color: #927769;
  position: absolute;
  font-size: 5em;
  font-family: "Poppins";
  letter-spacing: 5px;
}
.user-login-password-input {
  top: 420px;
  left: 205px;
  position: absolute;
  font-size: 22px;
  border-color: #ead7bb;
  background-color: #ead7bb;
}
.user-login-password {
  top: 205px;
  left: 205px;
  color: #927769;
  position: absolute;
}
.user-login-text1 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
}
.user-login-username-input {
  top: 261px;
  left: 206px;
  position: absolute;
  font-size: 22px;
  border-color: #ead7bb;
  background-color: #ead7bb;
}
.user-login-username {
  top: 369px;
  left: 209px;
  color: rgb(146, 119, 105);
  position: absolute;
}
.user-login-text3 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
}
.user-login-navlink1 {
  left: 297px;
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  bottom: 109px;
  height: var(--dl-size-size-small);
  position: absolute;
  transition: 0.3s;
  border-color: #ead7bb;
  text-decoration: none;
  background-color: #ead7bb;
}
.user-login-navlink1:hover {
  color: #ead7bb;
}
.user-login-text5 {
  color: #927769;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.user-login-image1 {
  width: 200px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .user-login-container {
    background-color: #c64463;
  }
  .user-login-icon {
    top: 37px;
    left: 66px;
    width: var(--dl-size-size-small);
    height: 59px;
    position: absolute;
  }
  .user-login-image {
    top: 4px;
    right: 40px;
    width: 706px;
    height: 642px;
  }
  .user-login-form {
    top: 102px;
    right: 166px;
    width: 502px;
    height: 457px;
  }
  .user-login-text {
    top: 71px;
    left: 156px;
    color: rgb(146, 119, 105);
    font-size: 3em;
    font-family: Poppins;
    letter-spacing: 5px;
  }
  .user-login-password-input {
    top: 311px;
    left: 125px;
    width: 226px;
    height: 42px;
    font-size: 15px;
  }
  .user-login-password {
    top: 162px;
    left: 125px;
    font-size: 20px;
  }
  .user-login-username-input {
    top: 197px;
    left: 126px;
    width: 226px;
    height: 42px;
    font-size: 15px;
  }
  .user-login-username {
    top: 279px;
    left: 126px;
    font-size: 20px;
  }
  .user-login-navlink1 {
    left: 169px;
    bottom: 17px;
  }
  .user-login-image1 {
    top: 60px;
    left: 115px;
    width: 783px;
    height: 552px;
    position: absolute;
  }
  .error-message {
    color: red;
  }
}
