<div class="user-login-container">
  <a routerLink="/login-chooser" class="user-login-navlink">
    <svg viewBox="0 0 1024 1024" class="user-login-icon">
      <path
        d="M896 470v84h-604l152 154-60 60-256-256 256-256 60 60-152 154h604z"
      ></path>
    </svg>
  </a>
  <img
    alt="image"
    src="/assets/notepad-1100w.png"
    loading="eager"
    class="user-login-image"
  />
  <form class="user-login-form" (ngSubmit)="login()">
    <h1 class="user-login-text">LOGIN</h1>
  
    <!-- Username -->
    <span class="user-login-password">
      <span class="user-login-text1">Username</span>
      <br />
    </span>
    <input
      type="text"
      placeholder="Type here"
      [(ngModel)]="username"
      class="user-login-username-input input"
    />
  
    <!-- Password -->
    <span class="user-login-username">
      <span class="user-login-text3">Password</span>
      <br />
    </span>
    <input
      type="password"
      placeholder="Type here"
      [(ngModel)]="password"
      class="user-login-password-input input"
    />
    <span *ngIf="loginFailed" class="error-message">
      Invalid Username or Password
    </span>
  
    <!-- Login Button -->
    <button type="submit" class="user-login-navlink1 button">
      <span class="user-login-text5">
        <span>LOGIN</span>
      </span>
    </button>
  </form>
  
  <img alt="image" src="/assets/user-600h.png" class="user-login-image1" />
</div>
