:host { 
  display: contents; 
}
.admin-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff2d8;
}
.admin-login-image {
  top: 42px;
  right: -20px;
  width: 1002px;
  height: 896px;
  position: absolute;
  object-fit: cover;
}
.admin-login-form {
  top: 217px;
  right: 133px;
  width: 768px;
  height: 692px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.admin-login-text {
  top: 63px;
  left: 233px;
  color: #927769;
  position: absolute;
  font-size: 5em;
  font-family: "Poppins";
  letter-spacing: 5px;
}
.admin-login-password-input {
  top: 420px;
  left: 205px;
  position: absolute;
  font-size: 22px;
  border-color: #ead7bb;
  background-color: #ead7bb;
}
.admin-login-password {
  top: 205px;
  left: 205px;
  color: #927769;
  position: absolute;
}
.admin-login-text1 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
}
.admin-login-username-input {
  top: 261px;
  left: 206px;
  position: absolute;
  font-size: 22px;
  border-color: #ead7bb;
  background-color: #ead7bb;
}
.admin-login-username {
  top: 369px;
  left: 209px;
  color: rgb(146, 119, 105);
  position: absolute;
}
.admin-login-text3 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
}
.admin-login-navlink {
  left: 297px;
  color: var(--dl-color-gray-white);
  width: var(--dl-size-size-large);
  bottom: 109px;
  height: var(--dl-size-size-small);
  position: absolute;
  border-color: #ead7bb;
  text-decoration: none;
  background-color: #ead7bb;
}
.admin-login-text5 {
  color: #927769;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.admin-login-navlink1 {
  display: contents;
}
.admin-login-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.admin-login-image1 {
  width: 200px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .admin-login-container {
    background-color: #ecdfd0;
  }
  .admin-login-image {
    top: 4px;
    left: 70px;
    width: 706px;
    height: 642px;
  }
  .admin-login-form {
    top: 105px;
    left: 147px;
    width: 502px;
    height: 457px;
  }
  .admin-login-text {
    top: 71px;
    left: 156px;
    color: rgb(146, 119, 105);
    font-size: 3em;
    font-family: Poppins;
    letter-spacing: 5px;
  }
  .admin-login-password-input {
    top: 311px;
    left: 125px;
    width: 226px;
    height: 42px;
    font-size: 15px;
  }
  .admin-login-password {
    top: 162px;
    left: 125px;
    font-size: 20px;
  }
  .admin-login-username-input {
    top: 197px;
    left: 126px;
    width: 226px;
    height: 42px;
    font-size: 15px;
  }
  .admin-login-username {
    top: 279px;
    left: 126px;
    font-size: 20px;
  }
  .admin-login-navlink {
    left: 169px;
    bottom: 17px;
  }
  .admin-login-icon {
    top: 37px;
    left: 66px;
    width: var(--dl-size-size-small);
    height: 59px;
    position: absolute;
  }
  .admin-login-image1 {
    top: 54px;
    right: 54px;
    width: 835px;
    height: 552px;
    position: absolute;
  }
  
  .error-text {
    color: red;
  }
  
}
