:host { 
  display: contents; 
}
.user-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fff2d8;
}
.user-home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.user-home-image {
  height: var(--dl-size-size-large);
}
.user-home-nav {
  display: flex;
}
.user-home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.user-home-text {
  color: #927769;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 700;
  text-decoration: none;
}
.user-home-text:hover {
  border-color: #ead7bb;
  border-width: 0px;
  background-color: #ead7bb;
}
.user-home-navlink {
  color: #927769;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.user-home-navlink:hover {
  border-color: #ead7bb;
  border-width: 0px;
  background-color: #ead7bb;
}
.user-home-navlink1 {
  color: #927769;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.user-home-navlink1:hover {
  border-color: #ead7bb;
  border-width: 0px;
  background-color: #ead7bb;
}
.user-home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.user-home-login {
  color: rgb(146, 119, 105);
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 700;
  border-color: #ead7bb;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: rgb(234, 215, 187);
}
.user-home-login:hover {
  color: #ead7bb;
  border-color: rgb(146, 119, 105);
  background-color: rgb(146, 119, 105);
}
.user-home-icon {
  width: 24px;
  height: 24px;
}
.user-home-login1 {
  color: rgb(146, 119, 105);
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 700;
  border-color: #ead7bb;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: rgb(234, 215, 187);
}
.user-home-login1:hover {
  color: #ead7bb;
  border-color: rgb(146, 119, 105);
  background-color: rgb(146, 119, 105);
}
.user-home-burger-menu {
  display: none;
}
.user-home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.user-home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.user-home-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user-home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.user-home-image1 {
  height: 2rem;
}
.user-home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.user-home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.user-home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.user-home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.user-home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.user-home-container02 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.user-home-text07 {
  font-size: 3rem;
  max-width: 450px;
}
.user-home-text08 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.user-home-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.user-home-navlink2 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.user-home-navlink2:hover {
  color: rgb(146, 119, 105);
  border-color: #ead7bb;
  background-color: #ead7bb;
}
.user-home-image2 {
  width: 400px;
  object-fit: cover;
}
.user-home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-home-video {
  width: 320px;
  height: 180px;
}
.user-home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.user-home-text09 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.user-home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.user-home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.user-home-icon12 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.user-home-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.user-home-text10 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.user-home-icon14 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.user-home-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.user-home-text12 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.user-home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.user-home-icon16 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.user-home-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.user-home-text14 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.user-home-icon18 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.user-home-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.user-home-text16 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-gallery {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.user-home-container10 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user-home-container11 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.user-home-container12 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.user-home-image3 {
  width: 200px;
  object-fit: cover;
}
.user-home-container13 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-home-image4 {
  width: 200px;
  object-fit: cover;
}
.user-home-container14 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-home-image5 {
  width: 200px;
  object-fit: cover;
}
.user-home-container15 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.user-home-image6 {
  width: 200px;
  object-fit: cover;
}
.user-home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.user-home-text19 {
  font-size: 3rem;
  text-align: center;
}
.user-home-text20 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.user-home-navlink3 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.user-home-navlink3:hover {
  color: var(--dl-color-gray-white);
  border-color: rgb(146, 119, 105);
  background-color: rgb(146, 119, 105);
}
.user-home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-home-text24 {
  font-size: 3rem;
  text-align: center;
}
.user-home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.user-home-container17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.user-home-text25 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: var(--dl-radius-radius-radius4);
}
.user-home-text26 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-textinput1 {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
  border-radius: var(--dl-radius-radius-radius4);
}
.user-home-container18 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.user-home-text27 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.user-home-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.user-home-button:hover {
  color: rgb(146, 119, 105);
  border-color: #ead7bb;
  background-color: #ead7bb;
}
.user-home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.user-home-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .user-home-header {
    position: relative;
  }
  .user-home-text {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .user-home-navlink {
    padding: var(--dl-space-space-oneandhalfunits);
    border-color: #ead7bb;
  }
  .user-home-navlink1 {
    padding: var(--dl-space-space-oneandhalfunits);
    font-family: Poppins;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .user-home-login {
    color: rgb(146, 119, 105);
    width: 134px;
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    margin-right: 3px;
    text-decoration: none;
    background-color: rgb(234, 215, 187);
  }
  .user-home-text01 {
    padding: 5px;
  }
  .user-home-text02 {
    margin-right: 3px;
  }
  .user-home-login1 {
    top: 81px;
    left: 1096px;
    color: rgb(146, 119, 105);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(234, 215, 187);
  }
  .user-home-text05 {
    margin-right: 3px;
  }
  .user-home-hero {
    width: 100%;
    height: 726px;
    margin-top: 0px;
    padding-top: var(--dl-space-space-threeunits);
  }
  .user-home-container02 {
    width: 779px;
    height: 439px;
    padding-right: 0px;
  }
  .user-home-text07 {
    color: #927769;
    font-size: 5rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 800;
  }
  .user-home-text08 {
    color: #113946;
    font-size: 28px;
  }
  .user-home-navlink2 {
    color: var(--dl-color-gray-white);
    font-size: 30px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-family: Poppins;
    border-width: 0px;
    background-color: rgb(146, 119, 105);
  }
  .user-home-image2 {
    width: 500px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-left: 0px;
    border-color: #927769;
    border-style: outset;
    border-width: 5px;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .user-home-container03 {
    height: 944px;
    position: relative;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: center;
  }
  .user-home-video {
    width: 100%;
    height: 953px;
  }
  .user-home-features {
    width: auto;
    height: 475px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    background-color: #EAD7BB;
  }
  .user-home-text09 {
    color: rgb(17, 57, 70);
    font-size: 3rem;
    font-family: Poppins;
  }
  .user-home-feature-card {
    width: 50%;
    margin-right: 0px;
  }
  .user-home-icon12 {
    fill: #927769;
  }
  .user-home-text10 {
    color: #113946;
    font-size: 1.7rem;
    font-family: Poppins;
    font-weight: 600;
  }
  .user-home-text11 {
    color: #113946;
    font-size: 18px;
    font-family: Poppins;
  }
  .user-home-feature-card1 {
    width: 727px;
  }
  .user-home-icon14 {
    fill: #927769;
  }
  .user-home-text12 {
    color: #113946;
    font-size: 1.7rem;
    font-family: Poppins;
    font-weight: 600;
  }
  .user-home-text13 {
    color: #113946;
    font-size: 18px;
    font-family: Poppins;
  }
  .user-home-feature-card2 {
    width: 618px;
  }
  .user-home-icon16 {
    fill: #927769;
  }
  .user-home-text14 {
    color: #113946;
    font-size: 1.7rem;
    font-family: Poppins;
    font-weight: 600;
  }
  .user-home-text15 {
    color: #113946;
    font-size: 18px;
    font-family: Poppins;
  }
  .user-home-feature-card3 {
    width: 686px;
    margin-left: 0px;
  }
  .user-home-icon18 {
    fill: #927769;
  }
  .user-home-text16 {
    color: #113946;
    font-size: 1.7rem;
    font-family: Poppins;
    font-weight: 600;
  }
  .user-home-text17 {
    color: #113946;
    font-size: 18px;
    font-family: Poppins;
  }
  .user-home-text18 {
    color: rgb(146, 119, 105);
    font-size: 3rem;
    font-family: Poppins;
    padding-top: var(--dl-space-space-threeunits);
  }
  .user-home-image3 {
    width: 100%;
    height: 438px;
  }
  .user-home-image4 {
    width: 100%;
    height: 100%;
  }
  .user-home-image5 {
    width: 100%;
    height: 451px;
  }
  .user-home-image6 {
    width: 100%;
    height: 100%;
  }
  .user-home-banner {
    width: 1312px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-right: 0px;
    padding-bottom: 48px;
    background-color: #EAD7BB;
  }
  .user-home-text19 {
    color: #113946;
    font-size: 3rem;
    font-family: Poppins;
  }
  .user-home-text20 {
    color: rgb(17, 57, 70);
  }
  .user-home-text21 {
    font-size: 24px;
    font-family: Poppins;
  }
  .user-home-navlink3 {
    color: #113946;
    font-size: 24px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    border-style: ridge;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #fff2d8;
  }
  .user-home-container16 {
    height: 561px;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2D8;
  }
  .user-home-text24 {
    color: rgb(146, 119, 105);
    height: 73px;
    font-style: normal;
    font-weight: 800;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .user-home-banner1 {
    width: 1323px;
  }
  .user-home-container17 {
    width: 545px;
    height: 255px;
  }
  .user-home-text25 {
    color: #113946;
    font-size: 1.7em;
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .user-home-textinput {
    width: 515px;
    height: 46px;
    border-color: var(--dl-color-gray-black);
    background-color: #EAD7BB;
  }
  .user-home-text26 {
    color: #113946;
    font-size: 1.7em;
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .user-home-textinput1 {
    width: 515px;
    height: 46px;
    border-color: var(--dl-color-gray-black);
    background-color: #EAD7BB;
  }
  .user-home-container18 {
    width: 564px;
    height: 262px;
  }
  .user-home-text27 {
    color: #113946;
    font-size: 1.7em;
  }
  .user-home-textarea {
    width: 610px;
    height: 374px;
    border-color: var(--dl-color-gray-black);
    background-color: #EAD7BB;
  }
  .user-home-button {
    color: white;
    font-size: 24px;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-family: Poppins;
    border-style: ridge;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: rgb(146, 119, 105);
  }
  .user-home-footer {
    align-self: center;
    justify-content: center;
  }
  .user-home-container19 {
    align-self: center;
  }
  .user-home-text28 {
    color: #927769;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
}
@media(max-width: 991px) {
  .user-home-hero {
    flex-direction: column;
  }
  .user-home-container02 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .user-home-text07 {
    text-align: center;
  }
  .user-home-text08 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .user-home-container15 {
    width: 100%;
  }
  .user-home-text20 {
    max-width: 100%;
  }
  .user-home-banner1 {
    flex-direction: column;
  }
  .user-home-container17 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .user-home-container18 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .user-home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-nav {
    display: none;
  }
  .user-home-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .user-home-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-home-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-home-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-home-btn-group {
    display: none;
  }
  .user-home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-text08 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .user-home-image2 {
    width: 80%;
  }
  .user-home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-feature-card {
    flex-direction: row;
  }
  .user-home-container05 {
    flex-direction: column;
  }
  .user-home-feature-card1 {
    flex-direction: row;
  }
  .user-home-container06 {
    flex-direction: column;
  }
  .user-home-feature-card2 {
    flex-direction: row;
  }
  .user-home-container08 {
    flex-direction: column;
  }
  .user-home-feature-card3 {
    flex-direction: row;
  }
  .user-home-container09 {
    flex-direction: column;
  }
  .user-home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-container11 {
    flex-direction: column;
  }
  .user-home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-text20 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .user-home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-home-text28 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .user-home-header {
    padding: var(--dl-space-space-unit);
  }
  .user-home-mobile-menu {
    padding: 16px;
  }
  .user-home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-home-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-home-btn-group1 {
    flex-direction: column;
  }
  .user-home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-home-container05 {
    flex-direction: column;
  }
  .user-home-container06 {
    flex-direction: column;
  }
  .user-home-container08 {
    flex-direction: column;
  }
  .user-home-container09 {
    flex-direction: column;
  }
  .user-home-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .user-home-container10 {
    width: auto;
  }
  .user-home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .user-home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .user-home-text28 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
